<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
       /* Add custom classes and styles that you want inlined here */
    </style>
  </head>
  <body class="bg-red-100">
  <div class="container">
    <img class="my-6 w-16" src="https://assets.bootstrapemail.com/logos/light/square.png" />
    <div class="space-y-4 mb-6">
      <h1 class="text-4xl fw-800">Hi, {{email }}</h1>
      <p>Here's your month report. We hope to see more of you this month! Happy Ticketing!</p>
    </div>
    <div class="card rounded-3xl px-4 py-8 p-lg-10 mb-6">
      <h3 class="text-center">Monthly Stats</h3>
      <p class="text-center text-muted">{{email}}</p>
      <table class="p-2 w-full">
        <tbody>
          <tr>
            <td>No. of Bookings</td>
            <td class="text-right">{{ no_of_bookings }}</td>
          </tr>
          <tr>
            <td>No of tickets bought</td>
            <td class="text-right">{{ sum_of_bookings }}</td>
          </tr>
          <tr>
            <td>Shows you watches</td>
            <td class="text-right">{{ no_of_shows }}</td>
          </tr>
          <tr>
            <td class="fw-700 border-top">Amount paid</td>
            <td class="fw-700 text-right border-top">$42.00</td>
          </tr>
        </tbody>
      </table>
      <hr class="my-6">
      <p>If you have any questions, contact us at <a href="http://localhost:5173/">support@ticketshow.com</a>.</p>
    </div>
  </div>
</body>
More Free Templates
Free
Shop Now

</html>
